body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-body {
  height: 100vh;
  background: linear-gradient(120deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.login-card p {
  font-size: 14px;
  color: #555;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  cursor: pointer;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* AUTH BACKGROUND */
.auth-body {
  min-height: 100vh;
  background: #f6f9f8;
}

/* NAVBAR */
.auth-navbar {
  padding: 20px 60px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #1b5e63;
}

/* CENTER CONTAINER */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

/* CARD */
.auth-card {
  background: white;
  width: 340px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.auth-card h2 {
  color: #1b5e63;
}

.auth-card p {
  font-size: 14px;
  color: #666;
  margin: 10px 0 20px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #4db6ac;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #3da39a;
}

/* SWITCH LINK */
.switch {
  margin-top: 15px;
}

.switch a {
  color: #4db6ac;
  text-decoration: none;
  font-weight: 500;
}
